<h1>Edit Post</h1>
<%= form_for @post, :url => board_post_path(@board, @post) do |f| %>
   <%= f.label :title, 'Post Title' %>
   <%= f.text_field :title %>
   <%= f.label :content, 'Post Content' %>
   <%= f.text_area :content %>
   <%= f.submit 'Update!' %>
<% end %>
