<h1>New Post</h1>
<%= form_for @post, :url => board_posts_path(@board) do |f| %>
   <%= f.label :title, 'Post Title' %>
   <%= f.text_field :title %>
   <%= f.label :content, 'Post Content' %>
   <%= f.text_area :content %>
   <%= f.submit 'Create!' %>
<% end %>
